In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('movies.csv')
df

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [3]:
df.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [4]:
df.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [10]:
df['tags'] = df['genre'] + df['overview']
df

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,tags
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347,"Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332,"Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221,"Thriller,Action,CrimeSeeking justice for his p..."

In [11]:
df.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,tags
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,"Drama,CrimeIn the continuing saga of the Corle..."

In [12]:
new_df = df[['id','title','genre','overview', 'tags']]

In [13]:
new_df

,id,title,genre,overview,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...","Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...","Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ...","Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...,"Thriller,Action,CrimeSeeking justice for his p..."

In [16]:
new_df = new_df.drop(columns=['genre','overview'])
new_df

,id,title,tags
0,278,The Shawshank Redemption,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,"Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,"Thriller,Action,CrimeSeeking justice for his p..."

In [17]:
new_df.head()

,id,title,tags
0,278,The Shawshank Redemption,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,CrimeIn the continuing saga of the Corle..."

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
cv = CountVectorizer(max_features=1000, stop_words='english')

In [20]:
cv

CountVectorizer(max_features=1000, stop_words='english')

In [21]:
vec= cv.fit_transform(new_df['tags'].values.astype('U')).toarray()
vec

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
sim = cosine_similarity(vec)

In [24]:
sim

array([[1.        , 0.11009638, 0.09534626, ..., 0.1254363 , 0.11396058,
        0.05025189],
       [0.11009638, 1.        , 0.17320508, ..., 0.        , 0.        ,
        0.        ],
       [0.09534626, 0.17320508, 1.        , ..., 0.0438529 , 0.05976143,
        0.        ],
       ...,
       [0.1254363 , 0.        , 0.0438529 , ..., 1.        , 0.05241424,
        0.04622502],
       [0.11396058, 0.        , 0.05976143, ..., 0.05241424, 1.        ,
        0.06299408],
       [0.05025189, 0.        , 0.        , ..., 0.04622502, 0.06299408,
        1.        ]])

In [25]:
new_df[new_df['title']=='The Godfather']

    id          title                                               tags
2  238  The Godfather  Drama,CrimeSpanning the years 1945 to 1955, a ...

In [26]:
dist = sorted(list(enumerate(sim[2])),reverse=True,key= lambda vec:vec[1])

In [27]:
dist

[(2, 1.0),
 (4569, 0.565685424949238),
 (4, 0.47809144373375745),
 (2412, 0.44721359549995787),
 (9520, 0.4338609156373123),
 (1816, 0.43033148291193524),
 (5010, 0.4242640687119285),
 (2272, 0.42257712736425823),
 (250, 0.4045199174779453),
 (330, 0.4045199174779453),
 (4449, 0.4045199174779453),
 (6587, 0.4045199174779453),
 (7049, 0.40451991747794525),
 (6964, 0.4043680421515943),
 (8756, 0.39999999999999997),
 (779, 0.3952847075210474),
 (4872, 0.3952847075210474),
 (747, 0.39467610868816316),
 (2879, 0.38729833462074176),
 (3762, 0.3813850356982369),
 (4127, 0.3813850356982369),
 (153, 0.3796283011826483),
 (2624, 0.3796283011826483),
 (892, 0.3750968867087604),
 (734, 0.3726779962499649),
 (634, 0.3721042037676254),
 (4885, 0.3721042037676254),
 (8555, 0.3689323936863109),
 (1447, 0.36514837167011077),
 (1773, 0.36514837167011077),
 (8341, 0.36514837167011077),
 (709, 0.3585685828003181),
 (3548, 0.3585685828003181),
 (956, 0.35355339059327373),
 (2174, 0.35355339059327373),
 (5597, 0.35355339059327373),
 (8075, 0.35355339059327373),
 (8086, 0.35355339059327373),
 (9245, 0.35355339059327373),
 (1629, 0.35),
 (6141, 0.3478505426185217),
 (519, 0.34641016151377546),
 (1926, 0.34641016151377546),
 (4380, 0.34641016151377546),
 (6862, 0.34426518632954817),
 (8774, 0.34156502553198664),
 (456, 0.3380617018914066),
 (2913, 0.3380617018914066),
 (3742, 0.3380617018914066),
 (4296, 0.3380617018914066),
 (5614, 0.3380617018914066),
 (7016, 0.3380617018914066),
 (1133, 0.3370999312316211),
 (2115, 0.3370999312316211),
 (2522, 0.3370999312316211),
 (4491, 0.3370999312316211),
 (5877, 0.3370999312316211),
 (5954, 0.3370999312316211),
 (8984, 0.3370999312316211),
 (1037, 0.33541019662496846),
 (3927, 0.33541019662496846),
 (5527, 0.33541019662496846),
 (9672, 0.33541019662496846),
 (6195, 0.33371190623595726),
 (9212, 0.33371190623595726),
 (434, 0.33218191941495984),
 (7910, 0.32637668288410987),
 (1171, 0.3263766828841098),
 (7259, 0.3263766828841098),
 (951, 0.32539568672798425),
 (3390, 0.32539568672798425),
 (3892, 0.32539568672798425),
 (4880, 0.32539568672798425),
 (5119, 0.32539568672798425),
 (7258, 0.32539568672798425),
 (821, 0.32274861218395146),
 (1120, 0.32274861218395146),
 (1233, 0.32274861218395146),
 (2827, 0.32274861218395146),
 (3070, 0.32274861218395146),
 (3803, 0.32274861218395146),
 (4496, 0.32274861218395146),
 (6565, 0.32274861218395146),
 (6974, 0.32274861218395146),
 (7356, 0.32274861218395146),
 (9216, 0.32274861218395146),
 (135, 0.31950482521134693),
 (2717, 0.31819805153394637),
 (518, 0.316227766016838),
 (9633, 0.316227766016838),
 (767, 0.31622776601683794),
 (2011, 0.31622776601683794),
 (4866, 0.31622776601683794),
 (5502, 0.31622776601683794),
 (6162, 0.31622776601683794),
 (1480, 0.3162277660168379),
 (2168, 0.3162277660168379),
 (4518, 0.3162277660168379),
 (5420, 0.3162277660168379),
 (5433, 0.3162277660168379),
 (7419, 0.3162277660168379),
 (945, 0.31304951684997057),
 (1354, 0.31008683647302115),
 (1485, 0.31008683647302115),
 (3235, 0.31008683647302115),
 (5100, 0.31008683647302115),
 (9953, 0.31008683647302115),
 (214, 0.3077935056255462),
 (1679, 0.3077935056255462),
 (2656, 0.3077935056255462),
 (3550, 0.3077935056255462),
 (4953, 0.3077935056255462),
 (7116, 0.3077935056255462),
 (1155, 0.30714755841697566),
 (1842, 0.3069703067574603),
 (5723, 0.3069703067574603),
 (469, 0.3),
 (1118, 0.3),
 (2528, 0.3),
 (2553, 0.3),
 (3098, 0.3),
 (3227, 0.3),
 (3826, 0.3),
 (4765, 0.3),
 (6842, 0.3),
 (7985, 0.3),
 (8826, 0.3),
 (2729, 0.2988071523335984),
 (6601, 0.2988071523335984),
 (7318, 0.2988071523335984),
 (9162, 0.2988071523335984),
 (1634, 0.2981423969999719),
 (2605, 0.2981423969999719),
 (3242, 0.2981423969999719),
 (3315, 0.2981423969999719),
 (5307, 0.2981423969999719),
 (5367, 0.2981423969999719),
 (8325, 0.2981423969999719),
 (2066, 0.2958039891549808),
 (1343, 0.29580398915498074),
 (6064, 0.29580398915498074),
 (4169, 0.2940858488375231),
 (5062, 0.29277002188455997),
 (2421, 0.2927700218845599),
 (4513, 0.29065917948808984),
 (8570, 0.2901905000440047),
 (1070, 0.29019050004400465),
 (4064, 0.29019050004400465),
 (272, 0.28867513459481287),
 (748, 0.28867513459481287),
 (1564, 0.28867513459481287),
 (3344, 0.28867513459481287),
 (4967, 0.28867513459481287),
 (5806, 0.28867513459481287),
 (6028, 0.28644594961577313),
 (495, 0.28603877677367767),
 (3042, 0.28603877677367767),
 (5189, 0.28603877677367767),
 (5251, 0.28603877677367767),
 (5632, 0.28603877677367767),
 (58, 0.282842712474619),
 (233, 0.282842712474619),
 (794, 0.282842712474619),
 (897, 0.282842712474619),
 (1034, 0.282842712474619),
 (1216, 0.282842712474619),
 (1362, 0.282842712474619),
 (2124, 0.282842712474619),
 (3009, 0.282842712474619),
 (3481, 0.282842712474619),
 (3671, 0.282842712474619),
 (4712, 0.282842712474619),
 (4756, 0.282842712474619),
 (4981, 0.282842712474619),
 (5239, 0.282842712474619),
 (5605, 0.282842712474619),
 (5816, 0.282842712474619),
 (5889, 0.282842712474619),
 (5952, 0.282842712474619),
 (8285, 0.282842712474619),
 (1801, 0.2811267651158746),
 (5415, 0.27975144247209416),
 (6075, 0.27975144247209416),
 (263, 0.2795084971874737),
 (572, 0.2795084971874737),
 (838, 0.2795084971874737),
 (1491, 0.2795084971874737),
 (2069, 0.2795084971874737),
 (2509, 0.2795084971874737),
 (3756, 0.2795084971874737),
 (6243, 0.2795084971874737),
 (7284, 0.2795084971874737),
 (9034, 0.2795084971874737),
 (867, 0.27937211830783126),
 (1454, 0.2738612787525831),
 (1716, 0.2738612787525831),
 (2109, 0.2738612787525831),
 (2440, 0.2738612787525831),
 (2444, 0.2738612787525831),
 (2616, 0.2738612787525831),
 (2749, 0.2738612787525831),
 (2839, 0.2738612787525831),
 (3157, 0.2738612787525831),
 (3670, 0.2738612787525831),
 (4209, 0.2738612787525831),
 (4360, 0.2738612787525831),
 (4574, 0.2738612787525831),
 (4811, 0.2738612787525831),
 (5331, 0.2738612787525831),
 (5625, 0.2738612787525831),
 (5995, 0.2738612787525831),
 (6936, 0.2738612787525831),
 (8351, 0.2738612787525831),
 (8729, 0.2738612787525831),
 (8951, 0.2738612787525831),
 (9599, 0.2738612787525831),
 (8239, 0.27386127875258304),
 (168, 0.2711630722733202),
 (726, 0.2711630722733202),
 (1135, 0.2711630722733202),
 (2298, 0.2711630722733202),
 (4546, 0.2711630722733202),
 (5111, 0.2711630722733202),
 (7589, 0.2711630722733202),
 (8047, 0.2711630722733202),
 (187, 0.26967994498529685),
 (448, 0.26967994498529685),
 (693, 0.26967994498529685),
 (1014, 0.26967994498529685),
 (1189, 0.26967994498529685),
 (1804, 0.26967994498529685),
 (2202, 0.26967994498529685),
 (2731, 0.26967994498529685),
 (4806, 0.26967994498529685),
 (5466, 0.26967994498529685),
 (6481, 0.26967994498529685),
 (6788, 0.26967994498529685),
 (8049, 0.26967994498529685),
 (9706, 0.26967994498529685),
 (3509, 0.2683281572999748),
 (5871, 0.2683281572999748),
 (3367, 0.2645751311064591),
 (3692, 0.2645751311064591),
 (6528, 0.2637521893583148),
 (282, 0.26352313834736496),
 (1039, 0.26352313834736496),
 (1723, 0.26352313834736496),
 (1921, 0.26352313834736496),
 (2554, 0.26352313834736496),
 (2872, 0.26352313834736496),
 (4122, 0.26352313834736496),
 (5132, 0.26352313834736496),
 (8483, 0.26352313834736496),
 (9503, 0.26352313834736496),
 (2255, 0.2631174057921088),
 (789, 0.25819888974716115),
 (865, 0.25819888974716115),
 (1105, 0.25819888974716115),
 (1206, 0.25819888974716115),
 (1212, 0.25819888974716115),
 (1266, 0.25819888974716115),
 (1331, 0.25819888974716115),
 (1540, 0.25819888974716115),
 (1619, 0.25819888974716115),
 (2463, 0.25819888974716115),
 (3028, 0.25819888974716115),
 (3704, 0.25819888974716115),
 (3988, 0.25819888974716115),
 (4117, 0.25819888974716115),
 (4549, 0.25819888974716115),
 (4884, 0.25819888974716115),
 (5052, 0.25819888974716115),
 (5834, 0.25819888974716115),
 (6239, 0.25819888974716115),
 (6778, 0.25819888974716115),
 (6830, 0.25819888974716115),
 (7207, 0.25819888974716115),
 (7688, 0.25819888974716115),
 (8189, 0.25819888974716115),
 (8326, 0.25819888974716115),
 (8771, 0.25819888974716115),
 (393, 0.2581988897471611),
 (2742, 0.2581988897471611),
 (3804, 0.2581988897471611),
 (145, 0.25732511773283273),
 (1422, 0.2564945880212885),
 (1834, 0.2564945880212885),
 (4201, 0.2564945880212885),
 (7878, 0.2564945880212885),
 (9362, 0.2564945880212885),
 (1087, 0.2539166875385041),
 (1310, 0.2539166875385041),
 (2175, 0.253546276418555),
 (2359, 0.253546276418555),
 (2483, 0.253546276418555),
 (2587, 0.253546276418555),
 (3433, 0.253546276418555),
 (6516, 0.253546276418555),
 (6741, 0.253546276418555),
 (9469, 0.253546276418555),
 (230, 0.25354627641855493),
 (2626, 0.25354627641855493),
 (2856, 0.25354627641855493),
 (2907, 0.25354627641855493),
 (2946, 0.25354627641855493),
 (4101, 0.25354627641855493),
 (4924, 0.25354627641855493),
 (6257, 0.25354627641855493),
 (6286, 0.25354627641855493),
 (6630, 0.25354627641855493),
 (6795, 0.25354627641855493),
 (7302, 0.25354627641855493),
 (15, 0.24999999999999997),
 (912, 0.24999999999999997),
 (2110, 0.24999999999999997),
 (3151, 0.24999999999999997),
 (3611, 0.24999999999999997),
 (5288, 0.24999999999999997),
 (6023, 0.24999999999999997),
 (7913, 0.24999999999999997),
 (8607, 0.24999999999999997),
 (949, 0.24913643956121986),
 (876, 0.2480694691784169),
 (1598, 0.2480694691784169),
 (1752, 0.2480694691784169),
 (1831, 0.2480694691784169),
 (1908, 0.2480694691784169),
 (2200, 0.2480694691784169),
 (2261, 0.2480694691784169),
 (2302, 0.2480694691784169),
 (2882, 0.2480694691784169),
 (4442, 0.2480694691784169),
 (4493, 0.2480694691784169),
 (5559, 0.2480694691784169),
 (6080, 0.2480694691784169),
 (7015, 0.2480694691784169),
 (7626, 0.2480694691784169),
 (8174, 0.2480694691784169),
 (8253, 0.2480694691784169),
 (8632, 0.2480694691784169),
 (8935, 0.2480694691784169),
 (9756, 0.2480694691784169),
 (612, 0.24748737341529164),
 (6308, 0.2449489742783178),
 (609, 0.2439750182371333),
 (2185, 0.2439750182371333),
 (2274, 0.2439750182371333),
 (3262, 0.2439750182371333),
 (4562, 0.2439750182371333),
 (5638, 0.2439750182371333),
 (2580, 0.24152294576982397),
 (1778, 0.2412090756622109),
 (1918, 0.2409657986707497),
 (7850, 0.2409657986707497),
 (105, 0.23904572186687872),
 (227, 0.23904572186687872),
 (1103, 0.23904572186687872),
 (1265, 0.23904572186687872),
 (1611, 0.23904572186687872),
 (2059, 0.23904572186687872),
 (2161, 0.23904572186687872),
 (2330, 0.23904572186687872),
 (2813, 0.23904572186687872),
 (2825, 0.23904572186687872),
 (2894, 0.23904572186687872),
 (3282, 0.23904572186687872),
 (3641, 0.23904572186687872),
 (3727, 0.23904572186687872),
 (4707, 0.23904572186687872),
 (4720, 0.23904572186687872),
 (4940, 0.23904572186687872),
 (5525, 0.23904572186687872),
 (5574, 0.23904572186687872),
 (6459, 0.23904572186687872),
 (6726, 0.23904572186687872),
 (6941, 0.23904572186687872),
 (7071, 0.23904572186687872),
 (7136, 0.23904572186687872),
 (7455, 0.23904572186687872),
 (7586, 0.23904572186687872),
 (7625, 0.23904572186687872),
 (7744, 0.23904572186687872),
 (7783, 0.23904572186687872),
 (7823, 0.23904572186687872),
 (8777, 0.23904572186687872),
 (8992, 0.23904572186687872),
 (9189, 0.23904572186687872),
 (780, 0.23836564731139806),
 (793, 0.23836564731139806),
 (1714, 0.23836564731139806),
 (2998, 0.23836564731139806),
 (3709, 0.23836564731139806),
 (4848, 0.23836564731139806),
 (5097, 0.23836564731139806),
 (5318, 0.23836564731139806),
 (6538, 0.23836564731139806),
 (7461, 0.23836564731139806),
 (7622, 0.23836564731139806),
 (7816, 0.23836564731139806),
 (7937, 0.23836564731139806),
 (8516, 0.23836564731139806),
 (9075, 0.23836564731139806),
 (126, 0.23717082451262841),
 (314, 0.23717082451262841),
 (463, 0.23717082451262841),
 (797, 0.23717082451262841),
 (894, 0.23717082451262841),
 (1017, 0.23717082451262841),
 (1127, 0.23717082451262841),
 (1427, 0.23717082451262841),
 (1482, 0.23717082451262841),
 (1942, 0.23717082451262841),
 (1988, 0.23717082451262841),
 (2004, 0.23717082451262841),
 (2533, 0.23717082451262841),
 (3033, 0.23717082451262841),
 (3777, 0.23717082451262841),
 (3795, 0.23717082451262841),
 (3843, 0.23717082451262841),
 (3872, 0.23717082451262841),
 (4514, 0.23717082451262841),
 (4567, 0.23717082451262841),
 (4739, 0.23717082451262841),
 (4988, 0.23717082451262841),
 (5231, 0.23717082451262841),
 (5351, 0.23717082451262841),
 (5443, 0.23717082451262841),
 (5474, 0.23717082451262841),
 (6432, 0.23717082451262841),
 (7369, 0.23717082451262841),
 (7499, 0.23717082451262841),
 (7543, 0.23717082451262841),
 (8025, 0.23717082451262841),
 (8043, 0.23717082451262841),
 (8815, 0.23717082451262841),
 (9007, 0.23717082451262841),
 (9292, 0.23717082451262841),
 (9586, 0.23717082451262841),
 (9595, 0.23717082451262841),
 (5811, 0.2335496832484569),
 (25, 0.23312620206007845),
 (718, 0.23312620206007845),
 (3662, 0.23312620206007845),
 (4840, 0.23312620206007845),
 (4930, 0.23312620206007845),
 (5428, 0.23312620206007845),
 (5587, 0.23312620206007845),
 (9921, 0.23312620206007845),
 (9112, 0.2328890038958328),
 (6, 0.23094010767585027),
 (70, 0.23094010767585027),
 (617, 0.23094010767585027),
 (864, 0.23094010767585027),
 (933, 0.23094010767585027),
 (1244, 0.23094010767585027),
 (3046, 0.23094010767585027),
 (3471, 0.23094010767585027),
 (3844, 0.23094010767585027),
 (4034, 0.23094010767585027),
 (4758, 0.23094010767585027),
 (4767, 0.23094010767585027),
 (5908, 0.23094010767585027),
 (7247, 0.23094010767585027),
 (7756, 0.23094010767585027),
 (8069, 0.23094010767585027),
 (8503, 0.23094010767585027),
 (9286, 0.23094010767585027),
 (9437, 0.23094010767585027),
 (9930, 0.23094010767585027),
 (1755, 0.22821773229381925),
 (6751, 0.22821773229381925),
 (9731, 0.22821773229381925),
 (741, 0.22821773229381923),
 (1951, 0.22821773229381923),
 (3979, 0.22821773229381923),
 (7873, 0.22821773229381923),
 (5005, 0.223606797749979),
 (482, 0.22360679774997896),
 (928, 0.22360679774997896),
 (1154, 0.22360679774997896),
 (1238, 0.22360679774997896),
 (1535, 0.22360679774997896),
 (2550, 0.22360679774997896),
 (2923, 0.22360679774997896),
 (3233, 0.22360679774997896),
 (3314, 0.22360679774997896),
 (3385, 0.22360679774997896),
 (4131, 0.22360679774997896),
 (4343, 0.22360679774997896),
 (4364, 0.22360679774997896),
 (5478, 0.22360679774997896),
 (5852, 0.22360679774997896),
 (5913, 0.22360679774997896),
 (6073, 0.22360679774997896),
 (6405, 0.22360679774997896),
 (6785, 0.22360679774997896),
 (7058, 0.22360679774997896),
 (7147, 0.22360679774997896),
 (7280, 0.22360679774997896),
 (8072, 0.22360679774997896),
 (8242, 0.22360679774997896),
 (8427, 0.22360679774997896),
 (8819, 0.22360679774997896),
 (9130, 0.22360679774997896),
 (9333, 0.22360679774997896),
 (9445, 0.22360679774997896),
 (9664, 0.22360679774997896),
 (9718, 0.22360679774997896),
 (90, 0.22360679774997894),
 (190, 0.22360679774997894),
 (389, 0.22360679774997894),
 (1533, 0.22360679774997894),
 (1636, 0.22360679774997894),
 (1729, 0.22360679774997894),
 (1933, 0.22360679774997894),
 (1974, 0.22360679774997894),
 (2015, 0.22360679774997894),
 (2103, 0.22360679774997894),
 (2229, 0.22360679774997894),
 (2332, 0.22360679774997894),
 (2432, 0.22360679774997894),
 (2944, 0.22360679774997894),
 (3003, 0.22360679774997894),
 (3095, 0.22360679774997894),
 (3184, 0.22360679774997894),
 (3298, 0.22360679774997894),
 (3306, 0.22360679774997894),
 (3426, 0.22360679774997894),
 (3506, 0.22360679774997894),
 (4002, 0.22360679774997894),
 (4221, 0.22360679774997894),
 (5060, 0.22360679774997894),
 (5238, 0.22360679774997894),
 (5447, 0.22360679774997894),
 (5678, 0.22360679774997894),
 (5839, 0.22360679774997894),
 (6436, 0.22360679774997894),
 (6517, 0.22360679774997894),
 (6563, 0.22360679774997894),
 (6843, 0.22360679774997894),
 (7244, 0.22360679774997894),
 (7588, 0.22360679774997894),
 (7677, 0.22360679774997894),
 (7693, 0.22360679774997894),
 (7789, 0.22360679774997894),
 (8162, 0.22360679774997894),
 (8398, 0.22360679774997894),
 (8715, 0.22360679774997894),
 (9330, 0.22360679774997894),
 (9556, 0.22360679774997894),
 (9643, 0.22360679774997894),
 (121, 0.22056438662814232),
 (279, 0.21926450482675733),
 (536, 0.21926450482675733),
 (2051, 0.21926450482675733),
 (4462, 0.21926450482675733),
 (4971, 0.21926450482675733),
 (7267, 0.21926450482675733),
 (4936, 0.21764287503300347),
 (92, 0.21693045781865616),
 (458, 0.21693045781865616),
 (549, 0.21693045781865616),
 (1817, 0.21693045781865616),
 (2254, 0.21693045781865616),
 (2351, 0.21693045781865616),
 (3300, 0.21693045781865616),
 (3656, 0.21693045781865616),
 (4260, 0.21693045781865616),
 (4302, 0.21693045781865616),
 (4440, 0.21693045781865616),
 (4779, 0.21693045781865616),
 (5510, 0.21693045781865616),
 (5965, 0.21693045781865616),
 (6876, 0.21693045781865616),
 (7230, 0.21693045781865616),
 (7286, 0.21693045781865616),
 (7928, 0.21693045781865616),
 (65, 0.21516574145596762),
 (441, 0.21516574145596762),
 (3659, 0.21516574145596762),
 (8008, 0.21516574145596762),
 (2654, 0.2151657414559676),
 (26, 0.21213203435596426),
 (346, 0.21213203435596426),
 (697, 0.21213203435596426),
 (1042, 0.21213203435596426),
 (1094, 0.21213203435596426),
 (1138, 0.21213203435596426),
 (1209, 0.21213203435596426),
 (1223, 0.21213203435596426),
 (1309, 0.21213203435596426),
 (1496, 0.21213203435596426),
 (1532, 0.21213203435596426),
 (1653, 0.21213203435596426),
 (1691, 0.21213203435596426),
 (1823, 0.21213203435596426),
 (2142, 0.21213203435596426),
 (2164, 0.21213203435596426),
 (2436, 0.21213203435596426),
 (2838, 0.21213203435596426),
 (2900, 0.21213203435596426),
 (3349, 0.21213203435596426),
 (3588, 0.21213203435596426),
 (3674, 0.21213203435596426),
 (3868, 0.21213203435596426),
 (4006, 0.21213203435596426),
 (4023, 0.21213203435596426),
 (4068, 0.21213203435596426),
 (4214, 0.21213203435596426),
 (4227, 0.21213203435596426),
 (4228, 0.21213203435596426),
 (4388, 0.21213203435596426),
 (4407, 0.21213203435596426),
 (4864, 0.21213203435596426),
 (5025, 0.21213203435596426),
 (5276, 0.21213203435596426),
 (5290, 0.21213203435596426),
 (5372, 0.21213203435596426),
 (6002, 0.21213203435596426),
 (6070, 0.21213203435596426),
 (6175, 0.21213203435596426),
 (6242, 0.21213203435596426),
 (6253, 0.21213203435596426),
 (6294, 0.21213203435596426),
 (6305, 0.21213203435596426),
 (6402, 0.21213203435596426),
 (6482, 0.21213203435596426),
 (6499, 0.21213203435596426),
 (7047, 0.21213203435596426),
 (7322, 0.21213203435596426),
 (7835, 0.21213203435596426),
 (7851, 0.21213203435596426),
 (7986, 0.21213203435596426),
 (8112, 0.21213203435596426),
 (8468, 0.21213203435596426),
 (8674, 0.21213203435596426),
 (8736, 0.21213203435596426),
 (8917, 0.21213203435596426),
 (8961, 0.21213203435596426),
 (8987, 0.21213203435596426),
 (9081, 0.21213203435596426),
 (9154, 0.21213203435596426),
 (9259, 0.21213203435596426),
 (9532, 0.21213203435596426),
 (9707, 0.21213203435596426),
 (9805, 0.21213203435596426),
 (9810, 0.21213203435596426),
 (671, 0.21128856368212914),
 (4947, 0.21128856368212914),
 (985, 0.21128856368212912),
 (3389, 0.21128856368212912),
 (7711, 0.21128856368212912),
 (7961, 0.21128856368212912),
 (1912, 0.21105794120443455),
 (64, 0.21081851067789198),
 (710, 0.21081851067789198),
 (850, 0.21081851067789198),
 (960, 0.21081851067789198),
 (2394, 0.21081851067789198),
 (2662, 0.21081851067789198),
 (3224, 0.21081851067789198),
 (3857, 0.21081851067789198),
 (3895, 0.21081851067789198),
 (4394, 0.21081851067789198),
 (4757, 0.21081851067789198),
 (5635, 0.21081851067789198),
 (8065, 0.21081851067789198),
 (8136, 0.21081851067789198),
 (8474, 0.21081851067789198),
 (8675, 0.21081851067789198),
 (9035, 0.21081851067789198),
 (9045, 0.21081851067789198),
 (9884, 0.21081851067789198),
 (7437, 0.20701966780270628),
 (8963, 0.20701966780270625),
 (341, 0.2051956704170308),
 (2296, 0.2051956704170308),
 (2451, 0.2051956704170308),
 (3881, 0.2051956704170308),
 (5081, 0.2051956704170308),
 (5355, 0.2051956704170308),
 (5893, 0.2051956704170308),
 (6184, 0.2051956704170308),
 (6472, 0.2051956704170308),

In [46]:
for i in dist[0:10]:
    print(new_df.iloc[i[0]].title)

The Godfather
House of Gucci
The Godfather: Part II
Felon
Gotti
Road to Perdition
Batman: The Killing Joke
Furious 7
On My Skin
Rope

In [47]:
def reccomend(movies):
    index = new_df[new_df['title']==movies].index[0]
    distance = sorted(list(enumerate(sim[index])),reverse=True, key=lambda vec:vec[1])
    for i in distance[0:10]:
        print(new_df.iloc[i[0]].title)

In [48]:
reccomend("Iron Man")

Iron Man
Marvel One-Shot: Item 47
Mazinger Z: Infinity
Star Wars: The Force Awakens
Insurgent
The Colony
Justice League Dark
The Hunger Games: Mockingjay - Part 1
Resident Evil: Extinction
The New Mutants

In [49]:
reccomend("Batman")

Batman
Angel of Evil
All You Need is Crime
Ghosts of Girlfriends Past
Flowers in the Attic
Immortals
Seven Psychopaths
Goosebumps 2: Haunted Halloween
In Darkness
Wrath of the Titans

In [50]:
reccomend("Dilwale")

Dilwale
I Want You
Amar
Beauty and the Beast
Crouching Tiger, Hidden Dragon: Sword of Destiny
The Night Before the Exams
Prizzi's Honor
West Side Story
C.R.A.Z.Y.
The 10 Year Plan